---
# custom css for elements in the layout section
---

@import 'iframe-base';
@import 'variables';


.wrap {
    width: 1260px;
}

.col-1-unit {
    width: $grid-unit;
}

[class*="col-"] {
    height: 40px;
    background-color: $slate500;
}