* { box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, main, nav, section, summary { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

abbr { text-decoration: none; }

blockquote:after { clear: both; content: ""; display: table; }

.cf:after { clear: both; content: ""; display: table; }

.grid { display: block; padding: 0; margin: 0 -10px; text-align: left; letter-spacing: -0.32em; text-rendering: optimizespeed; }

.grid__cell { box-sizing: border-box; display: inline-block; margin: 0; padding-left: 10px; padding-right: 10px; vertical-align: top; letter-spacing: normal; word-spacing: normal; text-rendering: auto; }

.opera:-o-prefocus, .grid { word-spacing: -0.43em; }

.grid > .grid { overflow: hidden; margin-right: 0; margin-left: 0; }

.grid__cell { text-align: left; width: 100%; }

.grid--center { text-align: center; }

.grid--left { text-align: left; }

.grid--right { text-align: right; }

.grid__cell--center { display: block; margin: 0 auto; }

.grid__cell--left { display: block; margin-right: auto; }

.grid__cell--right { display: block; margin-left: auto; }

.unit-1-2, .unit-2-4, .unit-3-6, .unit-4-8, .unit-5-10, .unit-6-12, .unit-12-24 { width: 50%; }

.unit-1-3, .unit-2-6, .unit-3-9, .unit-4-12, .unit-8-24 { width: 33.3333%; }

.unit-2-3, .unit-4-6, .unit-6-9, .unit-8-12, .unit-16-24 { width: 66.6667%; }

.unit-1-4, .unit-2-8, .unit-3-12, .unit-6-24 { width: 25%; }

.unit-3-4, .unit-6-8, .unit-9-12, .unit-18-24 { width: 75%; }

.unit-1-5, .unit-2-10 { width: 20%; }

.unit-2-5, .unit-4-10 { width: 40%; }

.unit-3-5, .unit-6-10 { width: 60%; }

.unit-4-5, .unit-8-10 { width: 80%; }

.unit-1-6, .unit-2-12, .unit-4-24 { width: 16.6667%; }

.unit-5-6, .unit-10-12, .unit-20-24 { width: 83.3333%; }

.unit-1-7 { width: 14.2857%; }

.unit-2-7 { width: 28.5714%; }

.unit-3-7 { width: 42.8571%; }

.unit-4-7 { width: 57.1429%; }

.unit-5-7 { width: 71.4286%; }

.unit-6-7 { width: 85.7143%; }

.unit-1-8, .unit-3-24 { width: 12.5%; }

.unit-3-8, .unit-9-24 { width: 37.5%; }

.unit-5-8, .unit-15-24 { width: 62.5%; }

.unit-7-8, .unit-21-24 { width: 87.5%; }

.unit-1-9 { width: 11.1111%; }

.unit-2-9 { width: 22.2222%; }

.unit-4-9 { width: 44.4444%; }

.unit-5-9 { width: 55.5556%; }

.unit-7-9 { width: 77.7778%; }

.unit-8-9 { width: 88.8889%; }

.unit-1-10 { width: 10%; }

.unit-3-10 { width: 30%; }

.unit-7-10 { width: 70%; }

.unit-9-10 { width: 90%; }

.unit-1-11 { width: 9.0909%; }

.unit-2-11 { width: 18.1818%; }

.unit-3-11 { width: 27.2727%; }

.unit-4-11 { width: 36.3636%; }

.unit-5-11 { width: 45.4545%; }

.unit-6-11 { width: 54.5455%; }

.unit-7-11 { width: 63.6364%; }

.unit-8-11 { width: 72.7273%; }

.unit-9-11 { width: 81.8182%; }

.unit-10-11 { width: 90.9091%; }

.unit-1-12, .unit-2-24 { width: 8.3333%; }

.unit-5-12, .unit-10-24 { width: 41.6667%; }

.unit-7-12, .unit-14-24 { width: 58.3333%; }

.unit-11-12, .unit-22-24 { width: 91.6667%; }

.unit-1-24 { width: 4.1667%; }

.unit-5-24 { width: 20.8333%; }

.unit-7-24 { width: 29.1667%; }

.unit-11-24 { width: 45.8333%; }

.unit-13-24 { width: 54.1667%; }

.unit-17-24 { width: 70.8333%; }

.unit-19-24 { width: 79.1667%; }

.unit-23-24 { width: 95.8333%; }

h1, .h1 { font-size: 36px; font-size: 2.25rem; margin-bottom: 24px; margin-bottom: 1.5rem; line-height: 1.3333; }

h1 a, .h1 a { color: inherit; text-decoration: none; }

h2, .h2 { font-size: 26px; font-size: 1.625rem; margin-bottom: 24px; margin-bottom: 1.5rem; line-height: 1.8462; }

h2 a, .h2 a { color: inherit; text-decoration: none; }

h3, .h3 { font-size: 22px; font-size: 1.375rem; margin-bottom: 24px; margin-bottom: 1.5rem; line-height: 1.0909; }

h3 a, .h3 a { color: inherit; text-decoration: none; }

h4, .h4 { font-size: 20px; font-size: 1.25rem; margin-bottom: 24px; margin-bottom: 1.5rem; line-height: 1.2; }

h4 a, .h4 a { color: inherit; text-decoration: none; }

h5, .h5 { font-size: 16px; font-size: 1rem; margin-bottom: 24px; margin-bottom: 1.5rem; line-height: 1.5; }

h5 a, .h5 a { color: inherit; text-decoration: none; }

h6, .h6 { font-size: 14px; font-size: 0.875rem; margin-bottom: 24px; margin-bottom: 1.5rem; line-height: 1.7143; }

h6 a, .h6 a { color: inherit; text-decoration: none; }

.subheading { font-family: Georgia, Times, "Times New Roman", serif; font-weight: normal; }

hgroup .hN { margin-bottom: 0; }

.giga { font-size: 96px; font-size: 6rem; margin-bottom: 24px; margin-bottom: 1.5rem; line-height: 1; }

.mega { font-size: 72px; font-size: 4.5rem; margin-bottom: 24px; margin-bottom: 1.5rem; line-height: 1; }

.kilo { font-size: 48px; font-size: 3rem; margin-bottom: 24px; margin-bottom: 1.5rem; line-height: 1; }

a { color: #0078be; text-decoration: none; outline: 0; }

a:hover, a:focus, a:active { color: #006098; text-decoration: underline; }

a:focus { outline: thin dotted; }

a:active, a:hover { outline: 0; }

:visited { color: #473f3f; }

.skip-link { position: absolute; top: 0; display: block; left: -999px; overflow: hidden; }

.skip-link:active, .skip-link:focus { background: #0078be; color: white; padding: 6px; left: 0; width: 100%; z-index: 100; }

p { margin-bottom: 0.75em; }

abbr { border-bottom: 1px dotted #473f3f; cursor: help; }

i, cite, em, var, address, dfn { font-style: italic; }

b, strong { font-weight: bold; }

code, kbd, pre, samp { font-family: monospace, serif; font-size: 1em; }

q { quotes: "\2018" "\2019" "\201C" "\201D"; }

q:before { content: "\2018"; content: open-quote; }

q:after { content: "\2019"; content: close-quote; }

q q:before { content: "\201C"; content: open-quote; }

q q:after { content: "\201D"; content: close-quote; }

abbr[title] { border-bottom: 1px dotted; }

hr { box-sizing: content-box; height: 0; }

mark { background: #ff0; color: black; }

pre { white-space: pre-wrap; }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

blockquote p:first-of-type:before { content: "\201C"; }

blockquote p:after { content: ""; }

blockquote p:last-of-type:after { content: "\201D"; }

blockquote q:before { content: "\2018"; }

blockquote q:after { content: "\2019"; }

html { font: 1em/1.5 "HelveticaNeue", "Helvetica", "Arial", sans-serif; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; min-height: 100%; }

body { color: black; height: 100%; line-height: 1.5; }

.is-hidden { display: none !important; visibility: hidden !important; }

.is-invisible { visibility: hidden !important; }

.is-vishidden { position: absolute !important; overflow: hidden; width: 1px; height: 1px; padding: 0; border: 0; clip: rect(1px, 1px, 1px, 1px); white-space: nowrap; }

.focusable.is-vishidden:active, .focusable.is-vishidden:focus { position: static !important; height: auto; width: auto; overflow: visible; clip: auto; }

.is-visible { display: block !important; }

.is-closed { overflow: hidden !important; }

.is-open { height: auto  !important; }

.ir { background-color: transparent; border: 0; overflow: hidden; *text-indent: -999em; }

.break-word { word-wrap: break-word; white-space: pre; white-space: pre-wrap; white-space: pre-line; white-space: -moz-pre-wrap; white-space: -hp-pre-wrap; }

legend.is-vishidden { left: -999em; }

.hide-desktop, .show-handheld, .show-tablet { display: none !important; }

.hide-noneJS, .js .hide-withJS { display: none !important; }

.js .hide-noneJS { display: block !important; }

html body.scriptable .hiddenWithJS { display: none; }

html body.noscript .showWithoutJS { display: block; }

.ir:before, .ir:before { content: ""; display: block; height: 100%; width: 0; }

.text-right { text-align: right !important; }

.text-center { text-align: center !important; }

.text-left { text-align: left !important; }

.text-justify { text-align: justify !important; }

.is-uppercase { letter-spacing: 1px; text-transform: uppercase !important; }

.is-lowercase { text-transform: lowercase !important; }

.is-capitalize { text-transform: capitalize !important; }

.last { float: right !important; margin-right: 0 !important; border-right: none !important; clear: right; }

.f-left { float: left !important; }

.f-right { float: right !important; }

.f-none { float: none !important; }

.block { display: block !important; }

.inline { display: inline !important; }

.inline-block { display: inline-block !important; }

.divider { border-top: 1px solid #ccc; padding-top: 18px; }

.styleguide-logo { display: inline-block; margin: 0 30px; overflow: hidden; vertical-align: middle; }

.styleguide-logo:before { content: ""; display: block; height: 100%; width: 0; }

.styleguide-wrap { margin: 2vh 2vw; }

.styleguide-full-wrap { margin: 0; width: 100%; height: 100vh; background: tomato; }

.styleguide-full-wrap .content { margin: 2vh 2vw; }

.styleguide-inner-wrap { padding: 2vh 2vw; }

.styleguide-btn { border: 0; padding: 6px 10px; text-transform: none; }

.content img { width: 100%; height: auto; padding-bottom: 20px; padding-top: 20px; }

.styleguide-site-header { background-color: #f6f5f5; color: black; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-align: center; align-items: center; }

.styleguide-header-heading { display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-pack: distribute; justify-content: space-around; }

.styleguide-site-link:hover, .styleguide-site-link:focus { text-decoration: none; }

.styleguide-site-title { font-size: 18px; font-size: 1.125rem; display: inline-block; margin-bottom: 15px; vertical-align: middle; }

.styleguide-logo { margin-bottom: 15px; }

.styleguide-header-links { display: -ms-flexbox; display: flex; -ms-flex-positive: 1; flex-grow: 1; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-align: center; align-items: center; }

.styleguide-header-link { font-size: 18px; font-size: 1.125rem; }

.styleguide-main-navigation { margin-bottom: 30px; }

.styleguide-nav__item { font-size: 20px; font-size: 1.25rem; }

.styleguide-nav-selected .styleguide-nav__link { font-weight: bold; }

.styleguide-nav__link, .styleguide-subnav__link { color: black; }

.styleguide-subnav__item { font-size: 18px; font-size: 1.125rem; padding-left: 20px; }

.styleguide-main-content { color: black; max-width: 58.75em; }

.styleguide-main-content ul { list-style: disc; margin-left: 1em; }

.styleguide-main-content ol { counter-reset: item; }

.styleguide-main-content ol > *:before { content: counter(item) ". "; counter-increment: item; }

.styleguide-main-content .styleguide-heading { margin-bottom: 1em; margin-top: 2em; }

div.highlighter-rouge { background: #f6f5f5; margin-bottom: .75em; padding: .5em; }

code.highlighter-rouge { background: #f6f5f5; padding: .1em; }

@media (min-width: 384px) {

 .f-left--small { float: left !important; }

 .f-right--small { float: right !important; }

 .f-none--small { float: none !important; }

 .img-small { max-width: 50%; margin-left: auto; margin-right: auto; }

 .img-small.f-right img { padding-left: 20px; }

 .img-small.f-left img { padding-right: 20px; } }

@media (min-width: 720px) {

 .f-left--medium { float: left !important; }

 .f-right--medium { float: right !important; }

 .f-none--medium { float: none !important; }

 .styleguide-header-links { -ms-flex-pack: end; justify-content: flex-end; }

 .styleguide-header-link { margin: 0 10px; }

 .styleguide-main-navigation { display: inline-block; vertical-align: top; width: 25%; }

 .styleguide-main-content { display: inline-block; vertical-align: top; width: 75%; }

 .styleguide-nav { margin-right: 20px; } }

@media (min-width: 820px) {

 .f-left--large { float: left !important; }

 .f-right--large { float: right !important; }

 .f-none--large { float: none !important; }

 .img-medium { max-width: 50%; margin-left: auto; margin-right: auto; }

 .img-small { max-width: 25%; margin-left: auto; margin-right: auto; }

 .f-right img { padding-left: 20px; }

 .f-left img { padding-right: 20px; }

 .styleguide-site-title, .styleguide-logo { margin-bottom: 0; } }
/*# sourceMappingURL=styleguide.css.map */