* { box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, main, nav, section, summary { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

abbr { text-decoration: none; }

blockquote:after { clear: both; content: ""; display: table; }

.cf:after { clear: both; content: ""; display: table; }

.grid { display: block; padding: 0; margin: 0 -10px; text-align: left; letter-spacing: -0.32em; text-rendering: optimizespeed; }

.grid__cell { box-sizing: border-box; display: inline-block; margin: 0; padding-left: 10px; padding-right: 10px; vertical-align: top; letter-spacing: normal; word-spacing: normal; text-rendering: auto; }

.opera:-o-prefocus, .grid { word-spacing: -0.43em; }

.grid > .grid { overflow: hidden; margin-right: 0; margin-left: 0; }

.grid__cell { text-align: left; width: 100%; }

.grid--center { text-align: center; }

.grid--left { text-align: left; }

.grid--right { text-align: right; }

.grid__cell--center { display: block; margin: 0 auto; }

.grid__cell--left { display: block; margin-right: auto; }

.grid__cell--right { display: block; margin-left: auto; }

.unit-1-2, .unit-2-4, .unit-3-6, .unit-4-8, .unit-5-10, .unit-6-12, .unit-12-24 { width: 50%; }

.unit-1-3, .unit-2-6, .unit-3-9, .unit-4-12, .unit-8-24 { width: 33.3333%; }

.unit-2-3, .unit-4-6, .unit-6-9, .unit-8-12, .unit-16-24 { width: 66.6667%; }

.unit-1-4, .unit-2-8, .unit-3-12, .unit-6-24 { width: 25%; }

.unit-3-4, .unit-6-8, .unit-9-12, .unit-18-24 { width: 75%; }

.unit-1-5, .unit-2-10 { width: 20%; }

.unit-2-5, .unit-4-10 { width: 40%; }

.unit-3-5, .unit-6-10 { width: 60%; }

.unit-4-5, .unit-8-10 { width: 80%; }

.unit-1-6, .unit-2-12, .unit-4-24 { width: 16.6667%; }

.unit-5-6, .unit-10-12, .unit-20-24 { width: 83.3333%; }

.unit-1-7 { width: 14.2857%; }

.unit-2-7 { width: 28.5714%; }

.unit-3-7 { width: 42.8571%; }

.unit-4-7 { width: 57.1429%; }

.unit-5-7 { width: 71.4286%; }

.unit-6-7 { width: 85.7143%; }

.unit-1-8, .unit-3-24 { width: 12.5%; }

.unit-3-8, .unit-9-24 { width: 37.5%; }

.unit-5-8, .unit-15-24 { width: 62.5%; }

.unit-7-8, .unit-21-24 { width: 87.5%; }

.unit-1-9 { width: 11.1111%; }

.unit-2-9 { width: 22.2222%; }

.unit-4-9 { width: 44.4444%; }

.unit-5-9 { width: 55.5556%; }

.unit-7-9 { width: 77.7778%; }

.unit-8-9 { width: 88.8889%; }

.unit-1-10 { width: 10%; }

.unit-3-10 { width: 30%; }

.unit-7-10 { width: 70%; }

.unit-9-10 { width: 90%; }

.unit-1-11 { width: 9.0909%; }

.unit-2-11 { width: 18.1818%; }

.unit-3-11 { width: 27.2727%; }

.unit-4-11 { width: 36.3636%; }

.unit-5-11 { width: 45.4545%; }

.unit-6-11 { width: 54.5455%; }

.unit-7-11 { width: 63.6364%; }

.unit-8-11 { width: 72.7273%; }

.unit-9-11 { width: 81.8182%; }

.unit-10-11 { width: 90.9091%; }

.unit-1-12, .unit-2-24 { width: 8.3333%; }

.unit-5-12, .unit-10-24 { width: 41.6667%; }

.unit-7-12, .unit-14-24 { width: 58.3333%; }

.unit-11-12, .unit-22-24 { width: 91.6667%; }

.unit-1-24 { width: 4.1667%; }

.unit-5-24 { width: 20.8333%; }

.unit-7-24 { width: 29.1667%; }

.unit-11-24 { width: 45.8333%; }

.unit-13-24 { width: 54.1667%; }

.unit-17-24 { width: 70.8333%; }

.unit-19-24 { width: 79.1667%; }

.unit-23-24 { width: 95.8333%; }

h1, .h1 { font-size: 36px; font-size: 2.25rem; margin-bottom: 24px; margin-bottom: 1.5rem; line-height: 1.3333; }

h1 a, .h1 a { color: inherit; text-decoration: none; }

h2, .h2 { font-size: 26px; font-size: 1.625rem; margin-bottom: 24px; margin-bottom: 1.5rem; line-height: 1.8462; }

h2 a, .h2 a { color: inherit; text-decoration: none; }

h3, .h3 { font-size: 22px; font-size: 1.375rem; margin-bottom: 24px; margin-bottom: 1.5rem; line-height: 1.0909; }

h3 a, .h3 a { color: inherit; text-decoration: none; }

h4, .h4 { font-size: 20px; font-size: 1.25rem; margin-bottom: 24px; margin-bottom: 1.5rem; line-height: 1.2; }

h4 a, .h4 a { color: inherit; text-decoration: none; }

h5, .h5 { font-size: 16px; font-size: 1rem; margin-bottom: 24px; margin-bottom: 1.5rem; line-height: 1.5; }

h5 a, .h5 a { color: inherit; text-decoration: none; }

h6, .h6 { font-size: 14px; font-size: 0.875rem; margin-bottom: 24px; margin-bottom: 1.5rem; line-height: 1.7143; }

h6 a, .h6 a { color: inherit; text-decoration: none; }

.subheading { font-family: Georgia, Times, "Times New Roman", serif; font-weight: normal; }

hgroup .hN { margin-bottom: 0; }

.giga { font-size: 96px; font-size: 6rem; margin-bottom: 24px; margin-bottom: 1.5rem; line-height: 1; }

.mega { font-size: 72px; font-size: 4.5rem; margin-bottom: 24px; margin-bottom: 1.5rem; line-height: 1; }

.kilo { font-size: 48px; font-size: 3rem; margin-bottom: 24px; margin-bottom: 1.5rem; line-height: 1; }

a { color: #0078be; text-decoration: none; outline: 0; }

a:hover, a:focus, a:active { color: #006098; text-decoration: underline; }

a:focus { outline: thin dotted; }

a:active, a:hover { outline: 0; }

:visited { color: #473f3f; }

.skip-link { position: absolute; top: 0; display: block; left: -999px; overflow: hidden; }

.skip-link:active, .skip-link:focus { background: #0078be; color: white; padding: 6px; left: 0; width: 100%; z-index: 100; }

p { margin-bottom: 0.75em; }

abbr { border-bottom: 1px dotted #473f3f; cursor: help; }

i, cite, em, var, address, dfn { font-style: italic; }

b, strong { font-weight: bold; }

code, kbd, pre, samp { font-family: monospace, serif; font-size: 1em; }

q { quotes: "\2018" "\2019" "\201C" "\201D"; }

q:before { content: "\2018"; content: open-quote; }

q:after { content: "\2019"; content: close-quote; }

q q:before { content: "\201C"; content: open-quote; }

q q:after { content: "\201D"; content: close-quote; }

abbr[title] { border-bottom: 1px dotted; }

hr { box-sizing: content-box; height: 0; }

mark { background: #ff0; color: black; }

pre { white-space: pre-wrap; }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

blockquote p:first-of-type:before { content: "\201C"; }

blockquote p:after { content: ""; }

blockquote p:last-of-type:after { content: "\201D"; }

blockquote q:before { content: "\2018"; }

blockquote q:after { content: "\2019"; }

html { font: 1em/1.5 "HelveticaNeue", "Helvetica", "Arial", sans-serif; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; min-height: 100%; }

body { color: black; height: 100%; line-height: 1.5; }

.is-hidden { display: none !important; visibility: hidden !important; }

.is-invisible { visibility: hidden !important; }

.is-vishidden { position: absolute !important; overflow: hidden; width: 1px; height: 1px; padding: 0; border: 0; clip: rect(1px, 1px, 1px, 1px); white-space: nowrap; }

.focusable.is-vishidden:active, .focusable.is-vishidden:focus { position: static !important; height: auto; width: auto; overflow: visible; clip: auto; }

.is-visible { display: block !important; }

.is-closed { overflow: hidden !important; }

.is-open { height: auto  !important; }

.ir { background-color: transparent; border: 0; overflow: hidden; *text-indent: -999em; }

.break-word { word-wrap: break-word; white-space: pre; white-space: pre-wrap; white-space: pre-line; white-space: -moz-pre-wrap; white-space: -hp-pre-wrap; }

legend.is-vishidden { left: -999em; }

.hide-desktop, .show-handheld, .show-tablet { display: none !important; }

.hide-noneJS, .js .hide-withJS { display: none !important; }

.js .hide-noneJS { display: block !important; }

html body.scriptable .hiddenWithJS { display: none; }

html body.noscript .showWithoutJS { display: block; }

.ir:before, .ir:before { content: ""; display: block; height: 100%; width: 0; }

.text-right { text-align: right !important; }

.text-center { text-align: center !important; }

.text-left { text-align: left !important; }

.text-justify { text-align: justify !important; }

.is-uppercase { letter-spacing: 1px; text-transform: uppercase !important; }

.is-lowercase { text-transform: lowercase !important; }

.is-capitalize { text-transform: capitalize !important; }

.last { float: right !important; margin-right: 0 !important; border-right: none !important; clear: right; }

.f-left { float: left !important; }

.f-right { float: right !important; }

.f-none { float: none !important; }

.block { display: block !important; }

.inline { display: inline !important; }

.inline-block { display: inline-block !important; }

.divider { border-top: 1px solid #ccc; padding-top: 18px; }

.styleguide-logo { background: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22485%22%20height%3D%2255%22%20viewBox%3D%2299.5%2010%20485%2055%22%3E%3Cpath%20fill%3D%22%231989CA%22%20d%3D%22M572.2%2010.7v1.7h5l-6%2039.4-6.9-41.1h-5l-6%2042.1-5.6-40.6h5.6v-1.7h-18v1.7h3.8L547%2064h6.5l5.5-32.8%206%2032.8h6.4l8-51.7h5.1v-1.7h-12.3zM507%2012.3h5.2v50h-5V64h26.3V49.9h-1.3s-.4%205.6-1.1%208c-.8%201.8-2.8%203.6-4.7%204.1-1.7.3-5.2.3-5.2.3V36.1s4.1-.1%205.2.5c1.8%201.4%201.9%204.1%202.3%206.9h1.3V27.9h-1.4c0%201.9-.8%204.5-2.3%205.7-1.4%201.4-5.2.8-5.2.8v-22s5-.1%206.6.1c3.8%201.9%204.1%206.3%204.6%2010.1h1.3V10.5h-26.7l.1%201.8zm-8.1%200h5v-1.7h-17.6v1.7h4.3v50h-5.2V64h18.9v-1.7H499l-.1-50zm-23.3%200h4.5L472.2%2059c-.1%200-8-46.7-8-46.7h4.7v-1.7h-16.6v1.7h2.6l9.8%2051.7h8.6l9.2-51.7h2.6v-1.7h-9.2v1.7h-.3zm-26.5%2045.6c-1.9%204.3-8.6%204.6-11.7%204.6V36.8s4.5%200%205.7.6c1.8%201.3%202.3%203.8%202.6%206.4h1.3V27.6h-1.4c-.1%202.4-.4%205.4-2.6%206.9-1.3.9-5.6.5-5.6.5V12.5c1.8%200%205.5-.3%207.1.4%204%201.9%204.2%206.6%204.5%2010.7h1.4V10.7h-25.9v1.7h4.1v50.2h-3.7v1.7h26.7V50.2h-1.4c-.4%202.8-.5%205.3-1.1%207.7zm-28.2%204.2c-2.3-6.8-2.9-13.5-6-19.9-2-3.8-6.1-5.6-10.1-6%204.5-.5%209.2-2.3%2011.4-7%201.5-3.6%201.8-9.4-.5-12.9s-5.7-5.5-9.7-5.6h-21v1.7h5.1v50h-5.4V64h19v-1.7H399V36.8h1.1c2.2.1%205.2%201%206.1%202.7%202.6%204.1%204.7%2018.8%205.2%2021.6.1%201.1%200%202.2.6%203.1h11.4v-1.7s-1.9.1-2.5-.4zm-22-27V12.3c1.5%200%205%200%206%20.6%203.7%203.8%203.4%2010.6%203.2%2015.8-.4%202.3-1.1%205-3.4%206-1.3.6-5.8.4-5.8.4zm-31.2%2015.5H366c0%202.3%200%204.8-.5%207-.8%202-2.4%204.3-4.7%204.7H354v-50h5.6v-1.7h-19v1.7h4.7v50h-4.9V64h27.3c0-4.3-.2-9%200-13.4zm-43.2-39.9h-8l-8.8%2051.7h-4.2V64h11.1v-1.7h-4.7l2.7-16.3h10.3l3.2%2016.3h-5V64h17.5v-1.7h-3.1l-11-51.6zM318%2043.9h-5.1l4.1-25.4%205.5%2025.4H318zm-16.1-31.6v-1.7h-18.4v1.7h4.5v50h-4.7V64h18.4v-1.7h-4.3v-50h4.5zm-29.3%2049.9c-1.8.9-5.1.6-6.4-.8-2.7-3.2-4.5-8.7-4.9-13-.9-10-1-14.8.3-22.7.6-4.6%201.9-9.1%205-12.3%202-1.8%205.4-1.4%207.5-.3%204.2%202.8%204%207.9%204.3%2012.5h1.7V10.8h-1.4c0%20.8%200%201.5-.6%202-1.5.4-2.2-1.4-3.4-1.7-3.1-1.8-7.5-1.1-10.5.5-6.9%204.1-11.4%2011.6-12%2019.4-1.1%2012.1.6%2024.8%2010.7%2031.9%203.2%201.5%207.8%203.3%2011%20.8%201.4-.4%202.2-2.4%203.6-2.6%201%20.6.9%201.8%201%202.9h1.4V50.8H278c-.3%204%20.3%207.6-5.4%2011.4zm-20.2-49.9v-1.7h-10.7v1.7h4v35.6l-14.3-37.3h-12.6v1.7h4.5v50h-4.7V64h11.5v-1.7h-4.6V20l16.8%2044.2h5.7V12.5h4.5v-.2zm-48-1.6h-8.3l-8.9%2051.7h-4.6V64h12.1v-1.7h-5.1l2.8-16.7h9.6l3.4%2016.7h-4.8V64h16.7v-1.7h-2.4l-10.5-51.6zm-11.7%2033l3.8-23.7%205%2023.7h-8.8zm-7.6-31.4v-1.7h-11v1.7h4.5v36.8L164%2010.7h-12.8v1.7h4.6v50h-4.7V64H163v-1.7h-4.8V21L174%2064.2h6.8V12.5h4.3v-.2zm-40.9%200h4.7v-1.7h-18.6v1.7h5.2v50h-6V64h19.8v-1.7h-5l-.1-50zm-44.7%200h6.8v50h-6.8V64h21.2v-1.7H115v-26h4.7c2.4%200%202.9%204.5%202.8%207h1.8V26.9h-1.8c.1%202.7-.5%207.9-2.8%207.9h-4.6V12.1c2.9.1%207.5.3%209.6%202.6%202.7%202.8%202.6%206.8%202.9%2010.5h1.3V10.7H99.5v1.6z%22%2F%3E%3C%2Fsvg%3E'); background-repeat: no-repeat; height: 1.75em; width: 16.25em; background-size: 100% auto; display: inline-block; margin: 0 30px; overflow: hidden; vertical-align: middle; }

.styleguide-logo:before { content: ""; display: block; height: 100%; width: 0; }

.styleguide-wrap { margin: 2vh 2vw; }

.styleguide-inner-wrap { padding: 2vh 2vw; }

.styleguide-btn { border: 0; padding: 6px 10px; text-transform: none; }

.content img { width: 100%; height: auto; padding-bottom: 20px; padding-top: 20px; }

.styleguide-site-header { background-color: #f6f5f5; color: black; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-align: center; align-items: center; }

.styleguide-header-heading { display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-pack: distribute; justify-content: space-around; }

.styleguide-site-link:hover, .styleguide-site-link:focus { text-decoration: none; }

.styleguide-site-title { font-size: 18px; font-size: 1.125rem; display: inline-block; margin-bottom: 15px; vertical-align: middle; }

.styleguide-logo { margin-bottom: 15px; }

.styleguide-header-links { display: -ms-flexbox; display: flex; -ms-flex-positive: 1; flex-grow: 1; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-align: center; align-items: center; }

.styleguide-header-link { font-size: 18px; font-size: 1.125rem; }

.styleguide-main-navigation { margin-bottom: 30px; }

.styleguide-nav__item { font-size: 20px; font-size: 1.25rem; }

.styleguide-nav-selected .styleguide-nav__link { font-weight: bold; }

.styleguide-nav__link, .styleguide-subnav__link { color: black; }

.styleguide-subnav__item { font-size: 18px; font-size: 1.125rem; padding-left: 20px; }

.styleguide-main-content { color: black; max-width: 58.75em; }

.styleguide-main-content ul { list-style: disc; margin-left: 1em; }

.styleguide-main-content ol { counter-reset: item; }

.styleguide-main-content ol > *:before { content: counter(item) ". "; counter-increment: item; }

.styleguide-main-content .styleguide-heading { margin-bottom: 1em; margin-top: 2em; }

div.highlighter-rouge { background: #f6f5f5; margin-bottom: .75em; padding: .5em; }

code.highlighter-rouge { background: #f6f5f5; padding: .1em; }

@media (min-width: 384px) {

 .f-left--small { float: left !important; }

 .f-right--small { float: right !important; }

 .f-none--small { float: none !important; }

 .img-small { max-width: 50%; margin-left: auto; margin-right: auto; }

 .img-small.f-right img { padding-left: 20px; }

 .img-small.f-left img { padding-right: 20px; } }

@media (min-width: 720px) {

 .f-left--medium { float: left !important; }

 .f-right--medium { float: right !important; }

 .f-none--medium { float: none !important; }

 .styleguide-header-links { -ms-flex-pack: end; justify-content: flex-end; }

 .styleguide-header-link { margin: 0 10px; }

 .styleguide-main-navigation { display: inline-block; vertical-align: top; width: 25%; }

 .styleguide-main-content { display: inline-block; vertical-align: top; width: 75%; }

 .styleguide-nav { margin-right: 20px; } }

@media (min-width: 820px) {

 .f-left--large { float: left !important; }

 .f-right--large { float: right !important; }

 .f-none--large { float: none !important; }

 .img-medium { max-width: 50%; margin-left: auto; margin-right: auto; }

 .img-small { max-width: 25%; margin-left: auto; margin-right: auto; }

 .f-right img { padding-left: 20px; }

 .f-left img { padding-right: 20px; }

 .styleguide-site-title, .styleguide-logo { margin-bottom: 0; } }
/*# sourceMappingURL=styleguide.css.map */