<section class="styleguide-colour-table {{include.colour}}">
    <header class="styleguide-colour-table__header" style="background-color:{{ site.data.colours.[include.colour][include.base-tint] }}">
        <h3>{{ include.colour | capitalize }}</h3>
        <div class="styleguide-colour-table__row">
            <span>{{ include.base-tint }}</span>
            <span>{{ site.data.colours.[include.colour][include.base-tint] }}</span>
        </div>        
    </header>
    <ul>
        {% for tint in site.data.colours.[include.colour] %}
        <li class="styleguide-colour-table__row row-{{tint[0]}}" style="background-color:{{tint[1]}}">
            <span>{{tint[0]}}</span>
            <span>{{tint[1]}}</span>
        </li>
        {% endfor %}
    </ul>
</section>
