<div class="styleguide-element">
    <div class="styleguide-iframe-container">
        <iframe width="{{include.width}}" height="{{include.height}}" src="{{ site.github.url }}/elements/{{ include.element }}.html" data-stylesheet="{{ site.github.url }}/css/{{include.stylesheet}}.css" frameborder="0"></iframe>
    </div>
    {% if include.code-view == true %}
        {% highlight html %}
            {% include elements/{{ include.element }}.html %}
        {% endhighlight %} 
    {% endif %}
</div>