<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width initial-scale=1">

  <title>{% if page.title %}{{ page.title | capitalize | append: ' | ' | append: site.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <link rel="stylesheet" href="{{ site.github.url }}/css/styleguide-fonts.css">
  <link rel="stylesheet" href="{{ site.github.url }}/css/styleguide.css">
  
  {% if page.custom_css %}
  {% for stylesheet in page.custom_css %}
  <link rel="stylesheet" href="{{ site.github.url }}/css/{{ stylesheet }}.css" media="screen" type="text/css">
  {% endfor %}
  {% endif %}

</head>
