
{% if site.collections %}
<nav class="styleguide-nav">
    <ul class="styleguide-nav__menu">
        {% for collection in site.data.menu.order %}
            {% assign label = collection | remove: "section_" | replace: "_"," "  %}
            <li class="styleguide-nav__item{% if label == page.title%} styleguide-nav-selected{% endif %}">
                <a class="styleguide-nav__link" href="{{ site.github.url }}/{{ collection }}">{{ label | capitalize }}</a>
                <ul class="styleguide-subnav__menu">
                   {% for doc in site[collection] %}
                       {% if doc.menu-item %}
                        <li class="styleguide-subnav__item">
                            <a class="styleguide-subnav__link" href="{{ site.github.url }}/{{ doc.collection }}/#{{ doc.title | slugify }}">{{ doc.title }}</a>
                        </li>
                       {% endif %}
                   {% endfor %}
                 </ul>
            </li>
        {% endfor %}
     </ul>
 </nav>
{% endif %}
