<button class="styleguide-icon-button styleguide-search-toggle" type="button">{% include svg/icon--search.svg title="site search toggle" %}</button>
<form action="{{ site.github.url }}/search.html" method="get" class="styleguide-search-form">
  <label for="search-box" class="is-vishidden">Search</label>
  <input type="text" id="search-box" placeholder="Search" class="styleguide-text-input search-box" name="query">
  <label for="search-submit" class="is-vishidden">Submit your search</label>
  <button class="styleguide-field-control search" type="submit" id="search-submit" value="search">{% include svg/icon--search.svg %}</button>
  <label for="search-reset" class="is-vishidden">Reset your search</label>
  <button class="styleguide-field-control reset" type="reset" name="search-reset" id="search-reset" value="reset">{% include svg/icon--cancel.svg %}</button>
</form>