<div class="styleguide-tabs">
    <header>
        <h2></h2>
    </header>
    <nav class="styleguide-tab__nav">
        <ul role="tablist">
            <li role="presentation" class="is-selected">
                <a role="tab" aria-controls="#tab-desktop" href="#tab-desktop">Desktop</a>
            </li>
            <li role="presentation">
                <a role="tab" aria-controls="#tab-tablet" href="#tab-tablet">Tablet</a>
            </li>
            <li role="presentation">
                <a role="tab" aria-controls="#tab-mobile" href="#tab-mobile">Mobile</a>
            </li>
        </ul>
    </nav>
    <div class="styleguide-tab__content">
        <div role="tabpanel" id="tab-desktop" class="styleguide-tab__panel is-selected">
            <iframe width="560" height="315" src="{{ site.github.url }}/components/{{ include.component }}.html" data-breakpoint="{{ site.github.url }}/css/desktop.css" frameborder="0"></iframe>
        </div>
        <div role="tabpanel" id="tab-tablet" class="styleguide-tab__panel">
            <iframe width="560" height="315" src="{{ site.github.url }}/components/{{ include.component }}.html" data-breakpoint="{{ site.github.url }}/css/tablet.css" frameborder="0"></iframe>
        </div>
        <div role="tabpanel" id="tab-mobile" class="styleguide-tab__panel">
            <iframe width="560" height="315" src="{{ site.github.url }}/components/{{ include.component }}.html" data-breakpoint="{{ site.github.url }}/css/mobile.css" frameborder="0"></iframe>
        </div>
    </div>
</div>
