// base styles

body {
    font-family: $base-font-family;
    font-size: 100%;
    margin: 0;
    // padding-bottom: $whole;
    // position: relative;
}

// utility classes

.f-left {
    float: left;

    + .f-left {
        margin-left: 20px;
    }
}
.f-right {
    float: right;

     + .f-right {
         margin-right: 20px;
     }
}

// resets

.styleguide-site-header,
.styleguide-main-navigation,
.styleguide-footer {
    a {
        color: inherit;
        text-decoration: none;
    }
    ul {
        list-style: none;
    }
}

// wrappers

.styleguide-wrap {
    margin: 2vh 2vw;
}

// homepage

.styleguide-landing {
    .styleguide-site-header {
        background-color: $pale-grey;
    }
}

.styleguide-full-wrap {
    margin: 0;
    width: 100%;
    color: #333;

    .styleguide-section {
        clear: both;
        padding: $quarter;

        &:nth-child(odd) {
            background-color: $pale-grey;
        }
        h2 {
            font-size: 1.2rem;
            margin: $quarter 0;
        }
        ul,
        p {
            color: $mid-grey;
        }
        .grid__cell:empty {
            display: none;
        }
        .styleguide-superlarge-heading {
            font-size: 2rem;
            font-weight: normal;
            margin: 0 0 $quarter;
        }

        .styleguide-small-heading {
            font-size: 1rem;
        }
    }
}


.styleguide-inline-spacing {
    letter-spacing: -0.32em;

    * {
        letter-spacing: normal;
    }
}


// .styleguide-footer {
//     position: absolute;
//     bottom: 0;
// }

@media (min-width: $bp-medium) {

    .styleguide-main-navigation {
        display: inline-block;
        vertical-align: top;
        width: 25%;
    }
    .styleguide-index .styleguide-main-content {
        display: inline-block;
        vertical-align: top;
        width: 75%;
    }
    .styleguide-full-wrap .styleguide-section {
        padding: $whole $half;
        
        header {
            display: inline-block;
            width: 25%;
        }
        h2 {
            margin: 0 0 0 $whole;
        }
        section {
            display: inline-block;
            width: 75%;
            max-width: $max-content-width; // 940px assuming a body font size of 16;
        } 
        p {
            font-size: 1.2rem;
        }
        .grid__cell:empty {
            display: inline-block;
        }
        .styleguide-superlarge-heading {
            margin: 0 0 $half;
            font-size: 5rem;
        }
        .styleguide-small-heading {
            font-size: 1.6rem;
            font-weight: bold;
        }
    }
}
