// base styles

* {
    box-sizing: border-box;
}

body {
    font-family: $base-font-family;
    font-size: 100%;
    margin: 0;
}

// resets

.styleguide-site-header,
.styleguide-main-navigation,
.styleguide-footer {
    a {
        color: inherit;
        text-decoration: none;
    }
    ul {
        list-style: none;
    }
}

// utility classes

.is-vishidden {
    position: absolute !important;
    overflow: hidden;
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap; // https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
}

// wrappers

.styleguide-wrap {
    margin: 2vh 2vw;
}

// desktop later :D

@media (min-width: $bp-medium) {
    .styleguide-wrap {
        display: grid;
        grid-gap: $gutter-unit;
        grid-template-columns: $col-3-units 1fr;
    }
}


@media (min-width: $bp-xlarge) {
    .styleguide-wrap {
        grid-template-columns: minmax($col-3-units, $col-4-units) minmax($col-12-units, $bp-xlarge);
    }
}


