// main content - markdown stuff

.styleguide-main-content {
    color: $text-color;

    p {
        margin: 0 0 $tubby-unit;
        max-width: $max-content-width; // 940px assuming a body font size of 16;
    }
    ol,
    ul {
        margin: 0;
        padding-left: 1em;
    }
    .page-heading {
        margin-top: 0;
    }
    .styleguide-heading {
        margin-bottom: 1em;
        margin-top: 2em;
    }
    // syntax highlighting
    .highlight {
        margin: 0 0 $tubby-unit;
    }
    code.highlighter-rouge {
        background-color: $slate200;
        padding: .1rem .3rem;
    }
    code {
        font-family: "Courier", monospace;
        font-size: .875em;
    }
}

// component code blocks

.styleguide-code-view {
    overflow-x: scroll;
    max-width: 38.75em;
}

// element code blocks

.styleguide-element {

    .highlight {
        display: none;

        &.is-visible {
            display: block;
        }
    }
}

// components

.styleguide-two-column {
    display: flex;
    flex-wrap: wrap;
    margin-top: $tubby-unit * 2;
}
.styleguide-inline-figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: $tubby-unit * 2 0;

    figcaption {
        font-size: 1.2rem;
        font-weight: bold;
        margin-top: $tubby-unit;
    }
}
.styleguide-inline-circle {
    border-radius: 50%;
    overflow: hidden;

    &.medium {
        width: $tubby-unit * 8;
        height: $tubby-unit * 8;
    }
    &.small {
        width: $tubby-unit * 4;
        height: $tubby-unit * 4;
    }
}
.styleguide-image-list.styleguide-image-list {
    li {
        list-style: none;
    }
    margin-top: $tubby-unit * 4;
    padding: 0;
}
.styleguide-image-list__item {
    display: flex;
}
.styleguide-image-list__figure {
    margin: 0 $tubby-unit * 2 0 0;
    flex-shrink: 0;
}
.styleguide-image-list__text {
    max-width: 360px;

    h3 {
        color: $black;
        margin-top: 0;
    }
}

@media (min-width: $bp-large) {

    .styleguide-main-content {
        p,
        .highlight {
            margin-bottom: $tubby-unit * 2;
        }
    }

    .styleguide-two-column {
        flex-wrap: nowrap;

        .styleguide-image-list__item:first-child {
            margin-right: $tubby-unit * 2;
        }
    }

    // section grid
    .styleguide-section-grid {
        display: grid;
        grid-gap: $gutter-unit;
        grid-template-columns: repeat(2, 1fr);

        h1,
        h2,
        h3,
        p {
            // span all columns
            grid-column-start: 1;
            grid-column-end: -1;
        }
    }
}

@media (min-width: $bp-xlarge) {

    .styleguide-section-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}
