// homepage specific styles

.styleguide-landing {
    .styleguide-site-header {
        background-color: $slate100;
    }
}

.styleguide-full-wrap {
    margin: 0;
    width: 100%;

    .styleguide-section {
        clear: both;
        padding: $quarter;

        &:nth-child(odd) {
            background-color: $slate100;
        }
        h2 {
            font-size: 1.2rem;
            margin: $quarter 0;
        }
        ul,
        p {
            color: $slate500;
        }
        .grid__cell:empty {
            display: none;
        }
        .styleguide-superlarge-heading {
            font-size: 2rem;
            font-weight: normal;
            margin: 0 0 $quarter;
        }

        .styleguide-small-heading {
            font-size: 1rem;
        }
    }
}

.rooster {
    width: 30%;
    float: right;
    margin-left: $whole;
}

// main content - markdown stuff

.styleguide-main-content {
    color: $text-color;

    .styleguide-index & {
        max-width: $max-content-width; // 940px assuming a body font size of 16;
    }
    p {
        margin: 0 0 $quarter;
    }
    ul {
        margin: 0;
        padding-left: 1em;
    }
    ol {
        @include numbered-list(". ");
    }
    .page-heading {
        margin-top: 0;
    }
    .styleguide-heading {
        margin-bottom: 1em;
        margin-top: 2em;
    }

}

// component code blocks

.styleguide-code-view {
    overflow-x: scroll;
    max-width: 38.75em;
}

// highlight code block syntax

.highlight code {
    font-size: .875rem;
}


// block level code (pre) styling
div.highlighter-rouge {
    background: #fff;
    margin-bottom: .75em;
    padding: .5em;
}

// inline code styling
code.highlighter-rouge {
    background: #fff;
    padding: .1em;
}

// typography

// families, sizes and styles

.styleguide {
    .serif, .sueca {
        font-family: $base-font-family;
    }
    .sans, .suecasans {
        font-family: $base-font-family-secondary;
    }
    .regular {
        font-weight: normal;
    }
    .bold {
        font-weight: bold;
    }
    .italic {
        font-style: italic;
    }
    
    .xxxl {
        font-size: $font-size-xxxl;
        line-height: $line-height-xxxl;
    }
    .xxl {
        font-size: $font-size-xxl;
        line-height: $line-height-xxl;
    }
    .xl {
        font-size: $font-size-xl;
        line-height: $line-height-xl;
    }
    .l {
        font-size: $font-size-l;
        line-height: $line-height-l;
    }
    .m {
        font-size: $font-size-m;
        line-height: $line-height-m;
    }
    .s {
        font-size: $font-size-s;
        line-height: $line-height-s;
    }
    .xs {
        font-size: $font-size-xs;
        line-height: $line-height-xs;
    }
    .xxs {
        font-size: $font-size-xxs;
        line-height: $line-height-xxs;
    }
    .xxxs {
        font-size: $font-size-xxxs;
        line-height: $line-height-xxxs;
    }
}

.styleguide-typeface-figure {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 0 $tubby-unit;
    
    figcaption {
        font-family: $base-font-family-secondary;
        font-size: .75rem;
        font-weight: normal;
        font-style: normal;
        text-align: center;
        display: inline-block;
        position: absolute;
        top: 110px;
        height: 30px;
        width: 140px;
        border-top: 1px solid $slate300;
        padding-top: $tubby-unit/2;
    }
    // remove when font-face refactored
    &.sueca {
        font-family: $base-font-family;
        
        &.bold {
            font-weight: bold;
        }
        &.italic {
            font-style: italic;
        }
    }
    &.suecasans.regular {
        font-family: $base-font-family-secondary;
    }
    &.suecasans.bold {
        font-family: $base-font-family-secondary-bold;
    }
}

.styleguide-type-sample {
    font-size: 3rem;
    padding: .5em .8em;
    border: 1px solid $slate300;
    width: 140px;
    height: 140px;
    
}

.styleguide-type-allchars.styleguide-type-allchars {
    margin-left: $gutter-unit;
    
    p {
        margin-bottom: $tubby-unit/2;
        word-break: break-all;
    }
}

// sizes table

.styleguide-type-sizes {
    td {
        color: $slate300;
        padding: $gutter-unit;
    }
    th {
        padding: $gutter-unit;
    }
    th:first-child {
        padding-left: 0;
    }
    .xxxl.serif.regular,
    .xl.serif.bold,
    .l.serif.regular,
    .l.serif.italic:not(.bold),
    .m.serif,
    .s.serif,
    .xs,
    .xxs.serif.regular,
    .xxs.serif.bold:not(.italic),
    .xxs.sans,
    .xxxs.sans.regular {
        color: $black;
    }
}

// iconography

.styleguide-iconset {
    display: flex;
    flex-wrap: wrap;
}
.styleguide-iconbox {
    border: 1px solid $slate500;
    margin: 0 $quarter $quarter 0;
    padding: .5em;
    text-align: center;
    width: 7.5em;
    height: 4em;
}
.styleguide-iconbox__class {
    margin: .5em 0 0;
}

// components

.styleguide-two-column {
    display: flex;
    flex-wrap: wrap;
    margin-top: $half;
}
.styleguide-inline-figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: $half 0;

    figcaption {
        font-size: 1.2rem;
        font-weight: bold;
        margin-top: $quarter;
    }
}
.styleguide-inline-circle {
    border-radius: 50%;
    overflow: hidden;

    &.medium {
        width: $twice;
        height: $twice;
    }
    &.small {
        width: $whole;
        height: $whole;
    }
}
.styleguide-image-list.styleguide-image-list {
    li {
        list-style: none;
    }    
    margin-top: $whole;
    padding: 0;
}
.styleguide-image-list__item {
    display: flex;
}
.styleguide-image-list__figure {
    margin: 0 $half 0 0;
    flex-shrink: 0;
}
.styleguide-image-list__text {
    max-width: 360px;
    
    h3 {
        color: $black;
        margin-top: 0;
    }
}

@media (min-width: $bp-small) {
    .styleguide-inline-figure {
        display: inline-flex;
        vertical-align: top;
        
        + .styleguide-inline-figure {
            margin-left: calc(50% - 180px);
        }
    }
}

@media (min-width: $bp-medium) {
    .styleguide-index .styleguide-main-content {
        display: inline-block;
        vertical-align: top;
        width: 75%;
    }
    .styleguide-full-wrap .styleguide-section {
        padding: $half $quarter;
        
        header {
            display: inline-block;
            width: 25%;
        }
        h2 {
            font-size: 1rem;
            margin: 0 0 0 $quarter;
        }
        section {
            display: inline-block;
            width: 75%;
            max-width: $max-content-width; // 940px assuming a body font size of 16;
        } 
        p {
            font-size: 1.2rem;
        }
        .grid__cell:empty {
            display: inline-block;
        }
        .styleguide-superlarge-heading {
            margin: 0 0 $half;
            font-size: 3.5rem;
        }
        .styleguide-small-heading {
            font-size: 1.6rem;
            font-weight: bold;
        }
    }
}

@media (min-width: $bp-large) {
    .styleguide-full-wrap .styleguide-section {
        padding: $whole $half;
        
        .styleguide-superlarge-heading {
            font-size: 5rem;
        }
        h2 {
            margin: 0 0 0 $half;
        }
    }
    
    .styleguide-main-content {
        p {
            margin-bottom: $half;
        }
    }
    
    .styleguide-typeface-figure {
        display: inline-flex;
        width: 48%;
        
        &:nth-child(even) {
            margin-left: 2%;
        }
    }
    
    .styleguide-two-column {
        flex-wrap: nowrap;
        
        .styleguide-image-list__item:first-child {
            margin-right: $half;
        }
    }
}
