
// main content - markdown stuff

.styleguide-main-content {
    color: $text-color;

    .styleguide-index & {
        max-width: $max-content-width; // 940px assuming a body font size of 16;
    }
    p {
        margin: 0 0 $half;
    }
    ul {
        list-style: disc;
        margin: 0;
        padding-left: 1em;
    }
    ol {
        @include numbered-list(". ");
    }
    .page-heading {
        margin-top: 0;
    }
    .styleguide-heading {
        margin-bottom: 1em;
        margin-top: 2em;
    }

}
.styleguide-two-column {
    display: inline-block;
    vertical-align: top;
    margin-top: $half;
    width: 50%;
}
.styleguide-inline-figure {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin: $half 0;
    vertical-align: top;

    + .styleguide-inline-figure {
        margin-left: calc(50% - 180px);
    }
    figcaption {
        font-size: 1.2rem;
        font-weight: bold;
        margin-top: $quarter;
    }
}

.styleguide-inline-circle {
    border-radius: 50%;
    overflow: hidden;

    &.medium {
        width: 120px;
        height: 120px;
    }
    &.small {
        width: 60px;
        height: 60px;
    }
}
.styleguide-image-list {
    li {
        list-style: none;
    }
}
.styleguide-image-list__figure {
    display: inline-block;
    vertical-align: top;
    margin: 0 $half 0 0;
}
.styleguide-image-list__text {
    display: inline-block;
    vertical-align: top;
    width: 360px;
    
    h3 {
        color: $black;
        margin-top: 0;
    }
}
.styleguide-full-wrap {
    color: $text-color;
}
