// header

.styleguide-site-header {
    color: $slate500;
    padding: $tubby-unit;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.styleguide-home-link {
    font-size: 1rem;
    font-weight: normal;
    &:hover,
    &:focus {
        text-decoration: none;
    }
}
.styleguide-logo {
    display: block;
    padding-right: $tubby-unit;
    svg {
        width: 11em;
        height: auto;
        path {
            fill: $black;
        }
    }
}
.styleguide-tagline {
    display: none;
}

@media (min-width: $bp-medium) {

    .styleguide-home-link {
        font-size: 1.2rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: $tubby-unit;
    }
    .styleguide-tagline {
        align-self: flex-start;
        display: block;
        border-left: 1px solid currentColor;
        padding-left: $tubby-unit;
    }

}

@media (min-width: $bp-large) {

    // header
    .styleguide-home-link {
        font-size: 1.6rem;
        margin: $tubby-unit * 2;
    }

}
