// header

.styleguide-site-header {
    background-color: #fff;
    color: $mid-grey;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: $half;
}

.styleguide-logo {
    line-height: 1;
    padding-right: $quarter;
    svg {
        width: 280px;
        height: auto;
        path {
            fill: $black;
        }
    }
}

.styleguide-home-link {
    font-size: 1.6rem;
    font-weight: normal;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: $half;
    &:hover,
    &:focus {
        text-decoration: none;
    }
    span + span {
        border-left: 1px solid currentColor;
        padding-left: $quarter;
    }
}

.styleguide-logo {
    margin-bottom: $quarter;
}

.styleguide-header-links {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
}

.styleguide-header-link {
    font-size: 1.1rem;
}

@media (min-width: $bp-medium) {

    .styleguide-header-links {
        justify-content: flex-end;
    }
    .styleguide-header-link {
        margin: 0 10px;
    }

}

@media (min-width: $bp-large) {

    // header
    .styleguide-home-link,
    .styleguide-logo {
        margin-bottom: 0;
    }

}
