// homepage specific styles

.styleguide-landing {
    .styleguide-site-header {
        background-color: $slate100;
    }
    .styleguide-main-content {
        display: grid;
    }
}
.styleguide-section {
    clear: both;
    padding: $tubby-unit;

    ul,
    p {
        color: $slate500;
    }
}
.styleguide-superlarge-heading {
    font-size: 2rem;
    font-weight: normal;
    margin: 0 0 $tubby-unit;
}

.styleguide-small-heading {
    font-size: 1rem;
}

.rooster {
    width: 30%;
    float: right;
    margin-left: $tubby-unit * 4;
}

@media (min-width: $bp-medium) {

    // front page
    .styleguide-landing {
        .styleguide-main-content {
            grid-template-columns: repeat(4, 25%);
            grid-template-rows: repeat(4, auto);
        }
    }
    .styleguide-section {
        padding: $tubby-unit * 2 $tubby-unit;

        p {
            font-size: 1.2rem;
        }
    }
    .styleguide-section.title {
        grid-column: span 4;
    }
    .styleguide-section.introduction {
        grid-column: span 2;
    }
    .styleguide-section.atomic-design {
        .styleguide-type-sample {
            width: 120px;
            height: 120px;
            padding: .5em .7em;
        }
    }
    .styleguide-section.design-principles {
        grid-column: span 4;
    }
    .styleguide-section.highlights {
        grid-column: span 4;
    }
    .styleguide-superlarge-heading {
        margin: 0 0 $tubby-unit * 2;
        font-size: 3.5rem;
    }
    .styleguide-small-heading {
        font-size: 1.6rem;
        font-weight: bold;
    }
}

@media (min-width: $bp-large) {
    .styleguide-section {
        padding: $tubby-unit * 4 $tubby-unit * 2;
    }
    .styleguide-superlarge-heading {
        font-size: 5rem;
    }
}