// responsive images

.styleguide-main-content img {
    width: 100%;
    height: auto;
}

// image placeholder

.styleguide-img {
    background-color: $slate500;
}

.f-left {
    float: left;

    + .f-left {
        margin-left: $tubby-unit;
    }
}
.f-right {
    float: right;

     + .f-right {
         margin-right: $tubby-unit;
     }
}

@media (min-width: $bp-small) {

    .styleguide-main-content {
        // images
        .img-small {
            max-width: 50%;
            margin-left: auto;
            margin-right: auto;

            &.f-right img {
                padding-left: $tubby-unit;
            }

            &.f-left img {
                padding-right: $tubby-unit;
            }
        }
    }

}

@media (min-width: $bp-large) {

    .styleguide-main-content {
        //images
        .img-medium {
            max-width: 50%;
            margin-left: auto;
            margin-right: auto;
        }
        .img-small {
            max-width: 25%;
            margin-left: auto;
            margin-right: auto;
        }
    }
        .f-right img {
            padding-left: $tubby-unit;
        }
        .f-left img {
            padding-right: $tubby-unit;
        }
}