// nav

.styleguide-main-navigation {
    margin-bottom: $tubby-unit * 2;
}

.styleguide-nav {
    background-color: white;
    width: 100%;
    height: 100%;
    position: fixed;
    transition: padding .5s;
    overflow-y: auto;
    z-index: 3;

    @extend %is-vishidden;
}

.styleguide-nav__menu {
    padding: 0;
}

.styleguide-nav__item {
    font-size: 1.2rem;
}

.styleguide-nav-selected .styleguide-nav__link {
    font-weight: bold;
}

.styleguide-nav__link,
.styleguide-subnav__link {
    color: $text-color;
}

.styleguide-subnav__menu {
    padding-left: $tubby-unit;
}

.styleguide-subnav__item {
    font-size: 1.1rem;
}



@media (min-width: $bp-medium) {
    .styleguide-nav {
        margin-right: $tubby-unit * 2;
        // override mobile nav styles
        position: static;
        width: auto;
        height: auto;
        clip: auto;
        opacity: 1;
    }
}
