.styleguide-subsection--assets {
    display: grid;
    grid-gap: $gutter-unit;
    justify-items: center;

    .styleguide-heading {
        justify-self: start;
    }
}
.styleguide-asset {
    max-width: 400px;
    margin-bottom: $tubby-unit;
}
.styleguide-background-dark {
    background-color: $black;
    padding: $tubby-unit/2;
}

@media (min-width: $bp-large) {
    .styleguide-subsection--assets {
        grid-template-columns: repeat(2, 1fr);
        justify-items: start;

        h2,
        h3,
        p {
            grid-column-start: 1;
            grid-column-end: -1;
        }
    }
}