.styleguide-tab__nav {
    margin-bottom: $tubby-unit * 2;
    
    ul {
        display: flex;
        list-style: none;
        padding-left: 0;
    }
    li {
        border: 1px solid $text-color;
        padding: $tubby-unit / 2 $tubby-unit;
        + li {
            border-left: 0;
        }
    }
    a {
        color: $text-color;
        text-decoration: none;
    }
}

.styleguide-tab__panel {
    display: none;
    &.is-selected {
        display: block;
    }
}