//------------------------------------//
//    $ MAIN
//------------------------------------//

// Fonts
// Due to wide support of woff we no longer need other formats
// Inline fonts to improve css and critical path see: http://blog.glebm.com/2013/08/28/inline-css-fonts.html


// [Typography] //

@font-face {
    font-family: "sueca_hd_regular";
    src: inline("suecahd-regular-webfont.woff", woff);
    font-weight: normal;
    font-style: normal;
};

@font-face {
    font-family: "sueca_hd_regular";
    src: inline("suecahd-regularitalic-webfont.woff", woff);
    font-weight: normal;
    font-style: italic;
};

@font-face {
    font-family: "sueca_hd_regular";
    src: inline("suecahd-bold-webfont.woff", woff);
    font-weight: bold;
    font-style: normal;
};

@font-face {
    font-family: "suecasans_regular";
    src: inline("suecasans-regular-webfont.woff", woff);
    font-weight: normal;
    font-style: normal;
};

@font-face {
    font-family: "suecasans_bold";
    src: inline("suecasans-bold-webfont.woff", woff);
    font-weight: bold;
    font-style: normal;
};
