//colours

$text-color: #252525;

// fonts

$base-font-family:                  'sueca_hd_regular', georgia, serif;
$base-font-family-secondary:        'suecasans_regular', Arial, Helvetica, sans-serif;
$base-font-family-secondary-bold:     'suecasans_bold', Arial, Helvetica, sans-serif;

// breakpoints

$bp-small: 24em; // 384px at 16px font-size
$bp-medium: 45em; // 720px at 16px font-size
$bp-large: 51.25em; // 820px at 16px font-size

// new greys

$pale-grey: #faf7f5;
$mid-grey: #757575;
$black: #252525;

// measurements

$whole: 60px;
$half: 30px;
$quarter: 15px;

$max-content-width: 58.75em;
