<div class="styleguide-iframe-container">
    <iframe width="560" height="315" src="{{ site.github.url }}/components/story.html" data-breakpoint="{{ site.github.url }}/css/desktop.css" frameborder="0" allowfullscreen></iframe>
</div>


<iframe width="560" height="315" src="{{ site.github.url }}/components/story.html" data-breakpoint="{{ site.github.url }}/css/tablet.css" frameborder="0" allowfullscreen></iframe>

 <iframe width="560" height="315" src="{{ site.github.url }}/components/story.html" data-breakpoint="{{ site.github.url }}/css/mobile.css" frameborder="0" allowfullscreen></iframe>
