---
layout: section
title: typography
---

{{ site.section_typography | where:"title", "intro" }}

{% for doc in site.data.menu.section_typography %}
    {% assign current = site.section_typography | where:"title", doc | first %}
    {% if current.sub-section-class %}
        <div class="{{current.sub-section-class}}">
    {% endif %}
    <h2 class="styleguide-heading" id="{{ current.title | slugify }}">{{ current.title }}</h2>
    {{ current }}
    {% if current.sub-section-class %}
        </div>
    {% endif %}
{% endfor %}