<section class="strap">
    <div class="strap__body">
            
        <article class="story story--premium-content has-wof">
            <figure class="story__lead">
                <a href="#" tabindex="-1" class="story__img">
                    <img src="../css/img/blank.svg" width="160" height="106">
                </a>
            </figure>
            <div class="story__wof">
                <h3 class="story__headline"><a href="javascript:;">Lorem ipsum dolor sit amet, consectetur</a></h3>
                <ul class="byline">
                    <li class="signpost signpost--live">Live</li>
                    <li class="external">Boss<span class="icon--external-link" title="external site"> External link</span></li>
                    <li class="update">Updated</li>
                    <li class="author">Anthony MacDonald</li>
                    <li class="time"><time datetime="2015-12-03T05:14:42+1000">45m ago</time></li>
                </ul>
                <p>Whitehaven Coal has forecast a 25 per cent increase in production in 2014 as the company aims to start construction in early December.</p>
                <ul class="meta">
                    <li class="is-vishidden">Contains:</li>
                    <li><a href="#"><span class="icon--comment" title="This article has 15 comments">total comments</span><span class="meta__count">15</span></a></li>
                    <li class="icon--video" title="This article contains a video">This article contains a video</li>
                    <li class="icon--photo" title="This article contains a photo gallery">This article contains a photo gallery</li>
                    <li class="icon--graph" title="This article contains a graph">This article contains a graph</li>
                </ul>
            </div>
        </article>

    </div>
</section>
