<div class="gel-layout"> <!-- temporary wrapper div adds class to which all the new story styles are attached -->

    <article class="story story--imgright story--promo has-wof">
        <ul class="byline--top">
            <li class="signpost signpost--sponsored">sponsored</li>
        </ul>
        <figure class="story__lead">
            <a href="#" tabindex="-1" class="story__img">
                <img src="../css/img/blank.svg" width="140" height="80">
            </a>
        </figure>
        <div class="story__wof">
            <h3 class="story__headline"><a href="javascript:;">Lorem ipsum dolor sit amet, consectetur</a></h3>
            <p><span class="promo__sponsor">Powered by <span>Commonwealth Bank</span></span></p>
        </div>
    </article>

</div>