<div class="gel-layout"> <!-- temporary wrapper div adds class to which all the new story styles are attached -->

    <article class="story story--stacked story--premium-content has-wof">
        <ul class="byline--top">
            <li class="signpost signpost--breaking">breaking</li>
            <li class="time">45 mins ago</li>
        </ul>
        <h3 class="story__headline"><a href="javascript:;">Lorem ipsum dolor sit amet, consectetur</a></h3>
        <figure class="story__lead">
            <a href="#" tabindex="-1" class="story__img">
                <img src="../css/img/blank.svg" width="205" height="115">
            </a>
        </figure>
        <div class="story__wof">
            <div class="author">
                By <a href="" rel="author">Julie Ault</a>
            </div>
        </div>
    </article>

</div>