<div class="gel-layout"> <!-- temporary wrapper div adds class to which all the new story styles are attached -->

    <article class="story story--imgright">
        <ul class="byline--top">
            <li class="signpost signpost--breaking">breaking</li>
            <li class="time">2 mins ago</li>
        </ul>
        <figure class="story__lead">
            <a href="#" tabindex="-1" class="story__img">
                <img src="../css/img/blank.svg" width="140" height="80">
            </a>
        </figure>
        <div class="story__wof">
            <h3 class="story__headline"><a href="javascript:;">Lorry lorry ipsy</a></h3>
            <div class="author">
                By <a href="" rel="author">Gustav Metzger</a>
            </div>
            <p>Whitehaven Coal has forecast a 25 per cent increase in production in 2014 as the company aims to start construction in early December.</p>
        </div>
    </article>

</div>