<div class="gel-layout"> <!-- temporary wrapper div adds class to which all the new story styles are attached -->

    <article class="story story--list story--basic-content has-wof">
        <ul class="byline--top">
            <li class="signpost signpost--breaking">breaking</li>
            <li class="time">2 mins ago</li>
        </ul>
        <div class="story__wof">
            <h3 class="story__headline"><a href="javascript:;">Lorem ipsum dolor sit amet, consectetur</a></h3>
            <div class="author">
                By <a href="" rel="author">Claude Cahun</a>
            </div>
            <p>Whitehaven Coal has forecast a 25 per cent increase in production in 2014 as the company aims to start construction in early December.</p>
        </div>
    </article>
    
</div>