<script>
require(['fmjs/prevent-overscroll/fm.prevent-overscroll','fmjs/toggle/fm.toggle'], function() {
    $('.styleguide-menu-toggle').fmToggle({
        toggleContentSelector: '.styleguide-main-navigation',
        toggleEventDelay: 300,
        triggers: 'click',
        toggleClickOutside: true
    });
    $('.styleguide-main-navigation').fmPreventOverscroll();
    $('.styleguide-search-toggle').fmToggle({
        toggleContentSelector: '.styleguide-search-form',
        toggleEventDelay: 300,
        triggers: 'click',
        toggleClickOutside: true
    }).on('click', function(){
        if ($('.styleguide-search-form').hasClass('is-visible')) {
            $('#search-box').focus();
        }
    });
});
</script>