<div class="home-wide-newswell">
    <div class="wrap">
        <section class="newswell">
            <div class="flex-grid">
                <div class="col-6-units"><img src="../css/img/blank.svg" width="100%" height="280"></div>
                <div class="col-3-units"><img src="../css/img/blank.svg" width="100%" height="280"></div>
                <div class="col-3-units"><img src="../css/img/blank.svg" width="100%" height="280"></div>
                <div class="col-4-units"><img src="../css/img/blank.svg" width="100%" height="280"></div>
            </div>
        </section>
    </div>
</div>
