---
layout: section
title: deprecated
scripts: tabs
---

{{ site.section_deprecated | where:"title", "intro" }}

{% for doc in site.data.menu.section_deprecated %}
    {% assign current = site.section_deprecated | where:"title", doc | first %}
    {% if current.sub-section-class %}
        <div class="{{current.sub-section-class}}">
    {% endif %}
    <h2 class="styleguide-heading">{{ current.title }}</h2>
    {{ current }}
    {% if current.sub-section-class %}
        </div>
    {% endif %}
{% endfor %}
