<!DOCTYPE html>
<html>
<head>
    <script>
        var customStyles = window.frameElement.getAttribute('data-stylesheet').split(' ');
        for (style in customStyles) {
            var fullPath = '{{ site.github.url }}/css/' + customStyles[style] + '.css';
            var stylesheet = document.createElement('link');
            stylesheet.setAttribute('rel','stylesheet');
            stylesheet.setAttribute('href',fullPath);
            document.head.appendChild(stylesheet);
        }
    </script>
</head>
<body>
    {{ content }}
</body>
</html>